@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
  --color-blue-950: #14172e;
  --color-blue-900: #161932;
  --color-blue-850: #1e213f;
  --color-blue-100: #d7e0ff;
  --color-blue-50: #eff1fa;

  --color-grey-400: #bbbdcb;
  --color-grey-200: #e4e2e2;

  --color-cyan-300: #70f3f8;
  --color-red-400: #f87070;
  --color-purple-400: #d881f8;

  --background-image-brand-gradient: linear-gradient(
    to left,
    #2e325a,
    #0e112a
  );

  --font-kumbh-sans: "Kumbh Sans", sans-serif;
  --font-roboto-slab: "Roboto Slab", serif;
  --font-space-mono: "Space Mono", monospace;
}

/* font 1 */
@utility text-preset-1-font-1 {
  font-family: var(--font-kumbh-sans);
  font-size: 100px;
  line-height: 1.25;
  letter-spacing: -5px;
}

@utility text-preset-2-font-1 {
  font-family: var(--font-kumbh-sans);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 15px;
}

@utility text-preset-3-font-1 {
  font-family: var(--font-kumbh-sans);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0px;
}

/* font 1 - Mobile */
@utility text-preset-1-font-1-mobile {
  font-family: var(--font-kumbh-sans);
  font-size: 80px;
  line-height: 1.25;
  letter-spacing: -5px;
}

@utility text-preset-2-font-1-mobile {
  font-family: var(--font-kumbh-sans);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 13px;
}

@utility text-preset-3-font-1-mobile {
  font-family: var(--font-kumbh-sans);
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0px;
}

/* font 2 */
@utility text-preset-1-font-2 {
  font-family: var(--font-roboto-slab);
  font-size: 100px;
  line-height: 1.3;
  letter-spacing: 0px;
}

@utility text-preset-2-font-2 {
  font-family: var(--font-roboto-slab);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 15px;
}

@utility text-preset-3-font-2 {
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0px;
}

/* font 2 - Mobile */
@utility text-preset-1-font-2-mobile {
  font-family: var(--font-roboto-slab);
  font-size: 80px;
  line-height: 1.33;
  letter-spacing: 0px;
}

@utility text-preset-2-font-2-mobile {
  font-family: var(--font-roboto-slab);
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 13px;
}

@utility text-preset-3-font-2-mobile {
  font-family: var(--font-roboto-slab);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0px;
}

/* font 3 */
@utility text-preset-1-font-3 {
  font-family: var(--font-space-mono);
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: -10px;
}

@utility text-preset-2-font-3 {
  font-family: var(--font-space-mono);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 15px;
}

@utility text-preset-3-font-3 {
  font-family: var(--font-space-mono);
  font-size: 14px;
  line-height: 1.45;
  letter-spacing: 0px;
}

/* font 3 - Mobile */
@utility text-preset-1-font-3-mobile {
  font-family: var(--font-space-mono);
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: -10px;
}

@utility text-preset-2-font-3-mobile {
  font-family: var(--font-space-mono);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 13px;
}

@utility text-preset-3-font-3-mobile {
  font-family: var(--font-space-mono);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* SETTING */

/* Font 1 */
@utility text-preset-1-setting {
  font-family: var(--font-kumbh-sans);
  font-size: 28px;
  line-height: 1.25;
  letter-spacing: 0px;
}

@utility text-preset-2-font-1-setting {
  font-family: var(--font-kumbh-sans);
  font-size: 13px;
  line-height: 1.45;
  letter-spacing: 0px;
}

@utility text-preset-2-font-2-setting {
  font-family: var(--font-roboto-slab);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0px;
}

@utility text-preset-2-font-3-setting {
  font-family: var(--font-space-mono);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0px;
}

@utility text-preset-3-setting {
  font-family: var(--font-kumbh-sans);
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: 5px;
}

@utility text-preset-4-setting {
  font-family: var(--font-kumbh-sans);
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0px;
}
